Source: ros-jazzy-rvc-motion-controller-interface
Section: misc
Priority: optional
Maintainer: Intel Robotics Team <robotics@intel.com>
Build-Depends: debhelper (>= 9.0.0),
    ros-jazzy-ament-cmake,
    ros-jazzy-ament-lint-auto <!nocheck>,
    ros-jazzy-ament-lint-common <!nocheck>,
    ros-jazzy-controller-manager,
    ros-jazzy-geometry-msgs,
    ros-jazzy-pluginlib,
    ros-jazzy-rclcpp,
    ros-jazzy-sensor-msgs,
    ros-jazzy-tf2-eigen,
    ros-jazzy-tf2-geometry-msgs
Homepage: 
Standards-Version: 3.9.2

Package: ros-jazzy-rvc-motion-controller-interface
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
    ros-jazzy-controller-manager,
    ros-jazzy-geometry-msgs,
    ros-jazzy-pluginlib,
    ros-jazzy-rclcpp,
    ros-jazzy-sensor-msgs,
    ros-jazzy-tf2-eigen,
    ros-jazzy-tf2-geometry-msgs
Description: interface defining how motion controller plugins shall be implemented
