chromadb==1.4.1
fastapi==0.121.3
minio==7.2.20
moviepy==1.0.3
openvino==2025.3.0
pydantic==2.11.7
pytest==8.3.5
PyYAML==6.0.2
requests==2.32.4
tqdm==4.67.0
uvicorn==0.38.0

pdf2image==1.17.0
pytesseract==0.3.13
opencv-python-headless==4.10.0.84
unstructured[all-docs]==0.18.32
python-docx==1.2.0
pillow==11.3.0
docx2txt==0.9
llama-index==0.14.14
optimum-intel>=1.22.0,<1.27
llama-index-embeddings-openvino==0.6.1
