Source: ros-jazzy-rvc-grasp-interface
Section: misc
Priority: optional
Maintainer: Intel Robotics Team <robotics@intel.com>
Build-Depends: debhelper (>= 9.0.0),
    ros-jazzy-ament-cmake,
    ros-jazzy-ament-lint-auto <!nocheck>,
    ros-jazzy-ament-lint-common <!nocheck>,
    ros-jazzy-pluginlib,
    ros-jazzy-rclcpp,
    ros-jazzy-rvc-messages
Homepage: 
Standards-Version: 3.9.2

Package: ros-jazzy-rvc-grasp-interface
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
    ros-jazzy-pluginlib,
    ros-jazzy-rclcpp,
    ros-jazzy-rvc-messages
Description: pluginlib interface that a pose to grasp plugin has to implement
