#!/usr/bin/make -f
export DH_VERBOSE=1
export LDFLAGS=-pthread -lfmt
export PKG_CONFIG_PATH=/opt/ros/jazzy/lib/pkgconfig
export DEB_CXXFLAGS_MAINT_APPEND=-DNDEBUG  -Wno-error=maybe-uninitialized

DEB_HOST_GNU_TYPE ?= $(shell dpkg-architecture -qDEB_HOST_GNU_TYPE)

export CPPFLAGS := $(shell dpkg-buildflags --get CPPFLAGS) -Wno-aggressive-loop-optimizations
export CFLAGS   := $(shell dpkg-buildflags --get CFLAGS) -Wno-aggressive-loop-optimizations
export CXXFLAGS := $(shell dpkg-buildflags --get CXXFLAGS) -Wno-aggressive-loop-optimizations

export ROS_VERSION=2
export ROS_DISTRO=jazzy

BUILD_LZE_DIR=$(CURDIR)/.obj-$(DEB_HOST_GNU_TYPE)-lze
BUILD_SSE_DIR=$(CURDIR)/.obj-$(DEB_HOST_GNU_TYPE)-sse
BUILD_AVX2_DIR=$(CURDIR)/.obj-$(DEB_HOST_GNU_TYPE)-avx2

%:
	dh $@ -v --buildsystem=cmake --sourcedirectory=$(CURDIR)

override_dh_auto_configure:
	if [ -f "/opt/ros/jazzy/setup.sh" ]; then . "/opt/ros/jazzy/setup.sh"; fi && \
	dh_auto_configure \
		-O--builddir=$(BUILD_LZE_DIR) -- \
		-DCMAKE_BUILD_TYPE=Release \
		-DCMAKE_INSTALL_PREFIX=/opt/ros/jazzy \
		-DAMENT_PREFIX_PATH=/opt/ros/jazzy \
		-DCMAKE_PREFIX_PATH=/opt/ros/jazzy \
		-DUSE_PREBUILT_DEPS=ON \
		-DUSE_SLAM_SHAREDLIBS_PATH=/opt/ros/jazzy/lib/lze \
		-DBUILD_NATIVE=OFF \
		-DUSE_GPU_CM=1 \
		-DENABLE_OPENVINO_SEGMENTATION=OFF \
		-DBUILD_SHARED_LIBS=ON \
		-DBUILD_TESTING=ON \
		-DCMAKE_CXX_FLAGS=" -mavx2" -DCMAKE_C_FLAGS=" -mavx2"
	dh_auto_configure \
		-O--builddir=$(BUILD_AVX2_DIR) -- \
		-DCMAKE_BUILD_TYPE=Release \
		-DCMAKE_INSTALL_PREFIX=/opt/ros/jazzy \
		-DAMENT_PREFIX_PATH=/opt/ros/jazzy \
		-DCMAKE_PREFIX_PATH=/opt/ros/jazzy \
		-DUSE_PREBUILT_DEPS=ON \
		-DUSE_SLAM_SHAREDLIBS_PATH=/opt/ros/jazzy/lib/avx2 \
		-DBUILD_NATIVE=OFF \
		-DCMAKE_CXX_FLAGS=" -mavx2" -DCMAKE_C_FLAGS=" -mavx2" \
		-DENABLE_OPENVINO_SEGMENTATION=OFF \
		-DBUILD_SHARED_LIBS=ON \
		-DBUILD_TESTING=ON
	dh_auto_configure \
		-O--builddir=$(BUILD_SSE_DIR) -- \
		-DCMAKE_BUILD_TYPE=Release \
		-DCMAKE_INSTALL_PREFIX=/opt/ros/jazzy \
		-DAMENT_PREFIX_PATH=/opt/ros/jazzy \
		-DCMAKE_PREFIX_PATH=/opt/ros/jazzy \
		-DUSE_PREBUILT_DEPS=ON \
		-DUSE_SLAM_SHAREDLIBS_PATH=/opt/ros/jazzy/lib/sse \
		-DBUILD_NATIVE=OFF \
		-DUSE_SSE_ORB=1 \
		-DUSE_SSE_FP_MATH=1 \
		-DENABLE_OPENVINO_SEGMENTATION=OFF \
		-DBUILD_SHARED_LIBS=ON \
		-DBUILD_TESTING=ON

override_dh_auto_clean:
	dh_auto_clean 	\
		-O--builddir=$(BUILD_SSE_DIR) -- && \
	dh_auto_clean 	\
		-O--builddir=$(BUILD_LZE_DIR) -- && \
	dh_auto_clean 	\
		-O--builddir=$(BUILD_AVX2_DIR) --
	$(RM) -r $(BUILD_SSE_DIR) $(BUILD_LZE_DIR) $(BUILD_AVX2_DIR)

override_dh_auto_build:
	if [ -f "/opt/ros/jazzy/setup.sh" ]; then . "/opt/ros/jazzy/setup.sh"; fi && \
	dh_auto_build 	\
		-O--builddir=$(BUILD_LZE_DIR) -- && \
	dh_auto_build 	\
		-O--builddir=$(BUILD_SSE_DIR) -- && \
	dh_auto_build 	\
		-O--builddir=$(BUILD_AVX2_DIR) --

override_dh_auto_test:
	if [ -f "/opt/ros/jazzy/setup.sh" ]; then . "/opt/ros/jazzy/setup.sh"; fi && \
	dh_auto_test	 	\
		-O--builddir=$(BUILD_LZE_DIR) -- && \
	dh_auto_test	 	\
		-O--builddir=$(BUILD_SSE_DIR) -- && \
	dh_auto_test	 	\
		-O--builddir=$(BUILD_AVX2_DIR) --

override_dh_shlibdeps:
	if [ -f "/opt/ros/jazzy/setup.sh" ]; then . "/opt/ros/jazzy/setup.sh"; fi && \
	dh_shlibdeps  \
		-l$(CURDIR)/debian/ros-jazzy-univloc-tracker-lze//opt/ros/jazzy/lib && \
	dh_shlibdeps  \
		-l$(CURDIR)/debian/ros-jazzy-univloc-tracker-sse//opt/ros/jazzy/lib && \
	dh_shlibdeps \
		-l$(CURDIR)/debian/ros-jazzy-univloc-tracker-avx2//opt/ros/jazzy/lib

override_dh_auto_install:
	if [ -f "/opt/ros/jazzy/setup.sh" ]; then . "/opt/ros/jazzy/setup.sh"; fi && \
	dh_auto_install \
		-O--builddir=$(BUILD_AVX2_DIR) --
	install -d $(CURDIR)/debian/ros-jazzy-univloc-tracker-avx2/opt/ros/jazzy && \
	if [ -d "$(CURDIR)/debian/tmp/opt/ros/jazzy/bin" ]; then cp -rf $(CURDIR)/debian/tmp/opt/ros/jazzy/bin $(CURDIR)/debian/ros-jazzy-univloc-tracker-avx2/opt/ros/jazzy; fi && \
	if [ -d "$(CURDIR)/debian/tmp/opt/ros/jazzy/local" ]; then cp -rf $(CURDIR)/debian/tmp/opt/ros/jazzy/local $(CURDIR)/debian/ros-jazzy-univloc-tracker-avx2/opt/ros/jazzy; fi && \
	if [ -d "$(CURDIR)/debian/tmp/opt/ros/jazzy/lib" ]; then cp -rf $(CURDIR)/debian/tmp/opt/ros/jazzy/lib $(CURDIR)/debian/ros-jazzy-univloc-tracker-avx2/opt/ros/jazzy; fi  && \
	if [ -d "$(CURDIR)/debian/tmp/opt/ros/jazzy/include" ]; then cp -rf $(CURDIR)/debian/tmp/opt/ros/jazzy/include $(CURDIR)/debian/ros-jazzy-univloc-tracker-avx2/opt/ros/jazzy; fi  && \
	cp -rf $(CURDIR)/debian/tmp/opt/ros/jazzy/share $(CURDIR)/debian/ros-jazzy-univloc-tracker-avx2/opt/ros/jazzy
	dh_auto_install \
		-O--builddir=$(BUILD_LZE_DIR) --
	install -d $(CURDIR)/debian/ros-jazzy-univloc-tracker-lze/opt/ros/jazzy && \
	if [ -d "$(CURDIR)/debian/tmp/opt/ros/jazzy/bin" ]; then cp -rf $(CURDIR)/debian/tmp/opt/ros/jazzy/bin $(CURDIR)/debian/ros-jazzy-univloc-tracker-lze/opt/ros/jazzy; fi && \
	if [ -d "$(CURDIR)/debian/tmp/opt/ros/jazzy/local" ]; then cp -rf $(CURDIR)/debian/tmp/opt/ros/jazzy/local $(CURDIR)/debian/ros-jazzy-univloc-tracker-lze/opt/ros/jazzy; fi && \
	if [ -d "$(CURDIR)/debian/tmp/opt/ros/jazzy/lib" ]; then cp -rf $(CURDIR)/debian/tmp/opt/ros/jazzy/lib $(CURDIR)/debian/ros-jazzy-univloc-tracker-lze/opt/ros/jazzy; fi && \
	if [ -d "$(CURDIR)/debian/tmp/opt/ros/jazzy/include" ]; then cp -rf $(CURDIR)/debian/tmp/opt/ros/jazzy/include $(CURDIR)/debian/ros-jazzy-univloc-tracker-lze/opt/ros/jazzy; fi && \
	cp -rf $(CURDIR)/debian/tmp/opt/ros/jazzy/share $(CURDIR)/debian/ros-jazzy-univloc-tracker-lze/opt/ros/jazzy
	dh_auto_install \
		-O--builddir=$(BUILD_SSE_DIR) --
	install -d $(CURDIR)/debian/ros-jazzy-univloc-tracker-sse/opt/ros/jazzy && \
	if [ -d "$(CURDIR)/debian/tmp/opt/ros/jazzy/bin" ]; then cp -rf $(CURDIR)/debian/tmp/opt/ros/jazzy/bin $(CURDIR)/debian/ros-jazzy-univloc-tracker-sse/opt/ros/jazzy; fi && \
	if [ -d "$(CURDIR)/debian/tmp/opt/ros/jazzy/local" ]; then cp -rf $(CURDIR)/debian/tmp/opt/ros/jazzy/local $(CURDIR)/debian/ros-jazzy-univloc-tracker-sse/opt/ros/jazzy; fi && \
	if [ -d "$(CURDIR)/debian/tmp/opt/ros/jazzy/lib" ]; then cp -rf $(CURDIR)/debian/tmp/opt/ros/jazzy/lib $(CURDIR)/debian/ros-jazzy-univloc-tracker-sse/opt/ros/jazzy; fi && \
	if [ -d "$(CURDIR)/debian/tmp/opt/ros/jazzy/include" ]; then cp -rf $(CURDIR)/debian/tmp/opt/ros/jazzy/include $(CURDIR)/debian/ros-jazzy-univloc-tracker-sse/opt/ros/jazzy; fi  && \
	cp -rf $(CURDIR)/debian/tmp/opt/ros/jazzy/share $(CURDIR)/debian/ros-jazzy-univloc-tracker-sse/opt/ros/jazzy && \
	install -d $(CURDIR)/debian/ros-jazzy-univloc-tracker-smoke-test/opt/ros/jazzy/share/univloc_tracker/tests/smoke_test && \
	install -m 0755 $(BUILD_SSE_DIR)/test_image_transport $(CURDIR)/debian/ros-jazzy-univloc-tracker-smoke-test/opt/ros/jazzy/share/univloc_tracker/tests/smoke_test && \
	install -m 0755 $(BUILD_SSE_DIR)/../tests/test_image_transport.py $(CURDIR)/debian/ros-jazzy-univloc-tracker-smoke-test/opt/ros/jazzy/share/univloc_tracker/tests/smoke_test && \
	install -d $(CURDIR)/debian/ros-jazzy-univloc-tracker-testsuite/opt/ros/jazzy/share/univloc_tracker/tests && \
	install -m 0755 $(BUILD_SSE_DIR)/test_image_transport $(CURDIR)/debian/ros-jazzy-univloc-tracker-testsuite/opt/ros/jazzy/share/univloc_tracker/tests && \
	install -m 0755 $(BUILD_SSE_DIR)/../tests/test_image_transport.py $(CURDIR)/debian/ros-jazzy-univloc-tracker-testsuite/opt/ros/jazzy/share/univloc_tracker/tests && \
	install -m 0755 $(BUILD_SSE_DIR)/test_lidar_system $(CURDIR)/debian/ros-jazzy-univloc-tracker-testsuite/opt/ros/jazzy/share/univloc_tracker/tests && \
	install -m 0755 $(BUILD_SSE_DIR)/../tests/test_lidar_system.py $(CURDIR)/debian/ros-jazzy-univloc-tracker-testsuite/opt/ros/jazzy/share/univloc_tracker/tests && \
	install -m 0755 $(BUILD_SSE_DIR)/test_imu_system $(CURDIR)/debian/ros-jazzy-univloc-tracker-testsuite/opt/ros/jazzy/share/univloc_tracker/tests && \
	install -m 0755 $(BUILD_SSE_DIR)/../tests/test_imu_system.py $(CURDIR)/debian/ros-jazzy-univloc-tracker-testsuite/opt/ros/jazzy/share/univloc_tracker/tests && \
	install -d $(CURDIR)/debian/ros-jazzy-univloc-tracker-testsuite/opt/ros/jazzy/share/univloc_tracker/tests/test_tracker_input/avx2/ && \
	install -m 0755 $(BUILD_AVX2_DIR)/test_tracker_input $(CURDIR)/debian/ros-jazzy-univloc-tracker-testsuite/opt/ros/jazzy/share/univloc_tracker/tests/test_tracker_input/avx2 && \
	install -d $(CURDIR)/debian/ros-jazzy-univloc-tracker-testsuite/opt/ros/jazzy/share/univloc_tracker/tests/test_tracker_input/lze/ && \
	install -m 0755 $(BUILD_LZE_DIR)/test_tracker_input $(CURDIR)/debian/ros-jazzy-univloc-tracker-testsuite/opt/ros/jazzy/share/univloc_tracker/tests/test_tracker_input/lze && \
	install -d $(CURDIR)/debian/ros-jazzy-univloc-tracker-testsuite/opt/ros/jazzy/share/univloc_tracker/tests/test_tracker_input/sse/ && \
	install -m 0755 $(BUILD_SSE_DIR)/test_tracker_input $(CURDIR)/debian/ros-jazzy-univloc-tracker-testsuite/opt/ros/jazzy/share/univloc_tracker/tests/test_tracker_input/sse
