Source: ros-jazzy-realsense2-tutorial-demo
Section: utils
Priority: optional
Maintainer: ECI Maintainer <eci.maintainer@intel.com>
Build-Depends: debhelper (>= 9.0.0), python3-pytest <!nocheck>, ros-jazzy-ament-copyright <!nocheck>, ros-jazzy-ament-flake8 <!nocheck>, ros-jazzy-ament-pep257 <!nocheck>, python3-all, python3-setuptools, dh-python
Standards-Version: 4.1.4

Package: ros-jazzy-realsense2-tutorial-demo
Architecture: any
Depends: ${python3:Depends}, ${misc:Depends}, ros-jazzy-librealsense2, ros-jazzy-realsense2-camera, ros-jazzy-realsense2-camera-msgs, ros-jazzy-rviz2,
Description: Intel RealSense tutorial with sample application
