Source: ros-humble-speech-recognition-pkg
Section: utils
Priority: optional
Maintainer: ECI Maintainer <eci.maintainer@intel.com>
Build-Depends: cmake, debhelper (>=11~),
    python3-ament-package,
    ros-humble-ament-cmake,
    ros-humble-ament-lint-common,
    ros-humble-follow-me-interfaces,
    ros-humble-rclcpp,
    ros-humble-rclpy,
    ros-humble-std-msgs,
Standards-Version: 4.1.4

Package: ros-humble-speech-recognition-pkg
Architecture: any
Multi-Arch: foreign
Depends: ${misc:Depends}, ${shlibs:Depends},
    libasound2-dev,
    python3-dev,
    python3-pip,
    ros-humble-follow-me-interfaces,
    ros-humble-rclcpp,
    ros-humble-rclpy,
    ros-humble-std-msgs,
Description: This package contains nodes for audio to text conversion using pre-trained speech Recognition model QuartzNet and publishing recorded audio files with audio commands for robot motion
