Source: ros-jazzy-follow-me-tutorial-w-gesture
Section: utils
Priority: optional
Maintainer: ECI Maintainer <eci.maintainer@intel.com>
Standards-Version: 4.1.4

Package: ros-jazzy-follow-me-tutorial-w-gesture
Architecture: any
Depends:
    psmisc,
    ros-jazzy-aaeon-ros2-amr-interface,
    ros-jazzy-adbscan-ros2-follow-me,
    ros-jazzy-gesture-recognition-pkg,
    ros-jazzy-realsense2-camera,
    ros-jazzy-rviz2,
    ros-jazzy-xacro,
Description: Gesture based Follow-Me application with ADBSCAN using Realsense camera
